<template>

    <div class="container h-100" id='container-register-form'>
       
       <div id="subcontainer" class="row align-items-center h-100">
           <div class="col-6 mx-auto">
               <div class="card h-100 justify-content-center align-items-center">
                    <div id="title-configuration-view">Choose the element to associate</div>
                    <div id="select-asset-container">
                            <select class="form-control" v-model="assetIdSelected" name="assetSelected" id="assetSelected" @change="valueChanged">
                                <option v-for="asset in assetsMap" :key="asset.id" :value="asset.id">{{ asset.name }}</option>
                            </select>
                    </div>
                    <div > <button type="button" @click='registerAsset()' class="btn btn-danger">Confirm</button></div>
                <div>{{ assetsMap }} </div>
               </div>
            
        </div>
       </div>
    </div>
</template>

<script>


export default {
    name: "Register",
    props: ['assetsMap'],
    data() {
        return {
            assetIdSelected: "",
        } 
    },
    methods: {
        valueChanged(e){
            console.log('changed value');
            console.log(e.target.value);
            this.assetIdSelected  = e.target.value;
            
        },
        registerAsset(){
            const payload = {
                assetId : this.assetIdSelected
            };
            this.$emit('registerAsset', payload);
        }
    }
}
</script>

<style>
#container-register-form {
    margin-top: 50px;
}


#title-configuration-view {
	margin-top: 20px;
	font-size: 100%;
	max-height: 80px;
}

.card {
	background-color: #ecf0f5 !important;
}

#select-asset-container {
    max-height: 100px;
}
</style>