
html,
body {	
	height: 100%;
	font-size: 13px;
	font-family:  'Open Sans', Helvetica, sans-serif;
	background-color: #fff;
}

*{outline: none !important;}

.container{width: 100%;}
.top_margin_container{margin-top: 60px;}
.no_margin_right{margin-right: 0px;}
.margin_left{margin-left: 10px;}
.margin_right{margin-right: 10px;}
.small_margin_bottom{margin-bottom: 15px;}

h1{
	/*display: inline-block;*/
	font-size: 20px;
	/*margin: 30px 0 40px 0;*/
}

h2{
	font-size: 20px;
	margin: 20px 0;
}

h3{
	font-size: 18px;
	min-height: 18px;
	margin: 10px 0 30px 0;
}

hr{border-color:#ccc;}


/*-------------------------------- Loading  --------------------------------*/

.spinner {
	margin: 20px auto;
	width: 70px;
	text-align: center;
}

.spinner > div {
	width: 18px;
	height: 18px;
	border-radius: 100%;
	display: inline-block;
	background-color: #ddd;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0) }
	40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% { 
		-webkit-transform: scale(0);
		transform: scale(0);
	} 40% { 
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
	}
}

/* ------------------------------- affix --------------------------------- */
.column1 .header-affix.affix {
    background-color: #ECF0F5;
    z-index: 999;
    left: 15px;
    right: 15px;
    border-bottom: 1px solid #ccc;
}

.column2 .header-affix.affix {
    background-color: #ECF0F5;
    z-index: 999;
    left: 245px;
    right: 15px;
    border-bottom: 1px solid #ccc;
}


/* ------------------------------- buttons ------------------------------- */

.btn{
	border-radius: 3px;
	font-size: 13px;
}

.btn-primary {
	background-color: #3c8dbc;
	border-color: #367fa9;
	color: #ffffff;
}

.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary {
	background-color: #26678d;
	border-color: #204d74;
	color: #ffffff;
}

.btn_centered{
	margin: 0 auto;
	display: block;
	width: 90px;
}

.btn_margin{margin-left: 10px;}
.btn i{margin-right: 5px;}

/* ------------------------------- main layout ------------------------------- */



/* ------------------------------- navbar ------------------------------- */

nav.navbar{
	background-color: #3c8dbc;
	height: 50px;
	border:none;
}

.navbar-brand{
	width: 130px;
	padding: 0px;
	background-color: #3c8dbc;
	color: #fff !important;
	text-align: center;
	/* font-size: 32px !important; */
}

.navbar-default{
	background-color: #ffffff;
}

.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus{background-color: #ffffff;}

#logo{
	height: 50px;
	margin-top: -16px;
}

#navbar-clock a {
	font-size: 120% !important;
}

.navbar-default .navbar-nav{margin-right: -15px;}

.navbar-default .navbar-nav > li > a {
	height: 50px;
	color: #ffffff !important;
	font-size: 12px;
	font-weight: 600;
	padding: 15px 20px;
	display: inline-block;
	text-transform: uppercase;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.navbar-default .navbar-nav > li > a i{
	font-size: 15px;
	margin-right: 3px;
	opacity: 0.7;
}

/* .navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
	background-color: #fff !important;
	color: #3c8dbc !important;
} */

.navbar-default .navbar-nav > li > a:hover i, 
.navbar-default .navbar-nav > li > a:focus i{opacity: 1;}

.navbar-default .navbar-nav > li.divider-vertical{
	border-right: 1px solid #367fa9;
	height: 50px;
}

/* .navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	background-color: #fff !important;
	color: #3c8dbc !important;
} */

.navbar-default .navbar-nav > .active > a i, 
.navbar-default .navbar-nav > .active > a:hover i, 
.navbar-default .navbar-nav > .active > a:focus i{opacity: 1;}

.navbar-default .dropdown-menu {
	background-clip: border-box;
	border: 1px solid #e1e6ed;
	box-shadow:none;    
	float: right !important;
	right: 0 !important;
	left: auto;
	font-size: 13px;
	margin: 0;
	min-width: 150px;
	padding: 0px;
}

.navbar-default .dropdown-menu > li > a {
	clear: both;
	color: #333333;
	display: block;
	font-weight: 400;
	max-width: 200px;
	overflow: hidden;
	padding: 3px 20px;
	padding: 10px 20px;
	white-space: nowrap;
	line-height: 1.42857;
	text-overflow: ellipsis;
	border-bottom: 1px solid #e1e6ed;
}

.navbar-default .dropdown-menu > li:last-of-type > a{border-bottom: none;}

/* .navbar-default .dropdown-menu > li > a:hover, 
.navbar-default .dropdown-menu > li > a:focus,
.navbar-default .dropdown-menu > li.active > a,
.navbar-default .dropdown-menu > li.active > a:hover,
.navbar-default .dropdown-menu > li.active > a:focus {
	background-color: #e1e6ed;
	color: #256589;
} */

.navbar-default .dropdown-menu > li.group-header.nav-header,
.navbar-default .dropdown-menu > li.group-header.nav-header:focus,
.navbar-default .dropdown-menu > li.group-header.nav-header:hover,
.navbar-default .dropdown-menu > li.group-header.nav-header > a,
.navbar-default .dropdown-menu > li.group-header.nav-header > a:focus,
.navbar-default .dropdown-menu > li.group-header.nav-header > a:hover{
	background-color: #367FA9;
	color:#fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
	cursor: default;
}

.navbar-default .dropdown-menu > li.group-header.nav-header{padding: 0px;}
.navbar-default .dropdown-menu > li.group-header.nav-header > a{padding: 5px 20px;}

.navbar-default .dropdown-menu {
	border: 1px solid #e1e6ed;
	box-shadow: 0 6px 12px rgba(255, 255, 255, 0.5);
}

/* ------------------------------- footer ------------------------------- */

footer {
    border-top: 1px solid #e7e7e7;
	background-color: transparent;
    height: 25px;
}


#navbar-center-item{
	float: none;
	position: absolute;
	left: 50%;
	
}

#navbar-center-item a:hover{
	background-color: #58a2cd;
}


/* -------------- application container ------------------------- */
#external-app-container{
	margin-top: 50px;
	margin-bottom: 30px;
	height: 100vh;
}


.container-fluid div {
	height: 85vh;
}

#container-register-form{
	padding-top: 10px;
}




.fill-height {
    min-height: 100%;
   
    height: 100%; /* cross-browser */
}