<template>
  <div id="external-app-container" style="text-align: center !important;">
        <select class="form-control col-lg-4" v-model="selectedEnv"  >
                <option v-for="env in environments" :key="env.id" :value="env.id">{{ env.name }}( {{env.id}} ) </option>
                <option :value="null" default>Auto-follow</option>
        </select>
        <hr />
    <div class="container-fluid">

      <div class="row ">
            <div id="maps" style="padding-top: 10px;" class="col-lg-9">

              <div v-for="env in environments" :key="env.id" v-bind:style="{ display: targetEnv == env.id ? 'block' : 'none' }">

                  <MapContainer 
                    v-bind:environment="env"
                    v-bind:targetAsset="targetAsset"
                    v-bind:assets="assets"
                    v-bind:assetTypes="assetTypes"
                    v-bind:targetEnv="targetEnv"
                    v-bind:distance="distance"
                    v-bind:drawPrediction="drawPrediction"
                  
                  ></MapContainer>
              </div>
            </div>
            <div id="notification-col" class="col-lg-3" style="max-height: 200px;">
              <Notification
                :targetAsset="targetAsset"
                :distance="distance"
                :showVelocity="showVelocity"
              ></Notification>

            </div>
      </div>
    </div>

        
  </div>
</template>
<style scoped>
  select {
    display: inline !important;
  }
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #ccc;
    margin: 1em 0;
    padding: 0; 
  }

  #maps {
    display: inline-block;
  }

  #notification-col {
    display: inline-block;
  }


</style>

<script>

import MapContainer from '@/components/MapContainer'
import Notification from './Notification.vue'

export default {
  name: 'Dashboard',
  inject: ['positionObs'],
  components: {
    MapContainer,
    Notification
  },
  data() {
    return {
      targetEnv: null,
      selectedEnv: null
    }
  },
  props: [  'targetAsset', 'environments', 'assets', 'assetTypes', 'distance', 'drawPrediction', 'showVelocity'],
  watch: {
    selectedEnv(env){
      if (env != null ) {
        this.targetEnv = env;
      }
    },
    environments(){
      console.log(this.environments);
      if (this.targetEnv == null){
        let envArr = Array.from(Object.values(this.environments));
        if (envArr.length > 0 ){
          this.targetEnv  = envArr[0].id;
        }
      }
    }
  },
  created(){
     this.positionObs.subscribe({
        next: (position) => {
          if (this.selected_env == null && this.targetAsset != null && position.asset_id == this.targetAsset.id ){
            this.targetEnv = position.env_id;
          } 
        }
      });
  }

  
}
</script>