<template>
    <!-- <div :id="this.envMapClass.id" :ref="this.envMapClass.id"  style="width: 100%; height: 100%">
    </div> -->
    <div >
    
        <p> {{ environment.name }} </p>
        <div ref="map" :id="mapDOMid" > </div>
  </div>
</template>
<style scoped>
    p {
        font-size: 22px;
    }


    /* .ol-custom-overviewmap,
       .ol-custom-overviewmap.ol-uncollapsible {
        bottom: auto;
        left: auto;
        right: 0;
        top: 0;
      }

      .ol-custom-overviewmap:not(.ol-collapsed)  {
        border: 1px solid black;
      }

      .ol-custom-overviewmap .ol-overviewmap-map {
        border: none;
        width: 300px;
      }

       .ol-custom-overviewmap .ol-overviewmap-box {
        border: 2px solid red;
      }

      .ol-custom-overviewmap:not(.ol-collapsed) button{
        bottom: auto;
        left: auto;
        right: 1px;
        top: 1px;
      } */
</style>
<script>
  

    import Projection from 'ol/proj/Projection'

    import MapOl from 'ol/Map'
    import ImageLayer from 'ol/layer/Image';
    import Static from 'ol/source/ImageStatic';

    import VectorLayer from 'ol/layer/Vector'
    import VectorSource from 'ol/source/Vector'
    import Feature from 'ol/Feature'
    import Point from 'ol/geom/Point'
    import { Circle, Stroke, Text } from 'ol/style';
    import Style from 'ol/style/Style';
    import Icon from 'ol/style/Icon';

    import 'ol/ol.css'
    import View from 'ol/View'

    import {easeOut} from 'ol/easing';
    import {getVectorContext} from 'ol/render';
    import {unByKey} from 'ol/Observable';
    import Polygon from 'ol/geom/Polygon'
    import Fill from 'ol/style/Fill';

    import Flashlight from 'ol-ext/interaction/Flashlight';
    // import {OverviewMap, defaults as defaultControls} from 'ol/control'

    export default {
        name: 'MapContainer',
        components: {},
        props: [ 'environment',  'targetAsset', 'assets', 'assetTypes', 'targetEnv', 'distance', 'drawPrediction'],
        inject: [ 'positionObs', 'neighborObs', 'collisionObs', 'motionObs', 'predictedPosObs', 'motionObsTest'],
        data(){
            return{
                map: null,
                projection: null,
                envBackgroundLayer: null,
                backgroundBlurredLayer: null,
                asset_markers: null,
                layer: null,
                neighborSet: new Set(),
                collisionsSet: new Set(),
                targetPosition: null,
                targetCoordPixels: null,
                alarm_markers: null,
                layer_alarm: null,
                background_alarm_marker: null,
                layer_background_alarm: null,
                max_alarm_distance: this.distance,
                old_max_alarm_distance: null,
                default_map_zoom: 2,  // this value is used to restore the initial zoom when there are not neighbors/collision anymore
                new_zoom: 2, // this value is used to change the zoom on the map depending on some thresolds 
                headingConversion: 1.5708, // is equivalent to 90 degrees
                headingRotation: 1.5708,
                noRotationHeight: null,
                noRotationWidth: null,
                farthestMarkerPixels: null,
             
                 overviewMapControl: null
            }
           
        },

        computed: {
            mapDOMid: function(){
                return `map-env-id-${this.environment.id}`
            }
        },
        methods: {
            drawPosition(asset_id, current_position){
                var asset_marker = this.asset_markers.getFeatureById(asset_id);
                if(asset_marker === undefined || asset_marker === null) {
                    console.log(`Map-container-[${this.environment.id}]. Adding asset_id=${asset_id} at positon ${current_position}`);
                    asset_marker = this.createAssetMarker(asset_id);
                    this.asset_markers.addFeature(asset_marker);
                }
                asset_marker.getGeometry().setCoordinates([current_position.x, current_position.y]);
            },
            cleanPosition(asset_id){
                let asset_marker = this.asset_markers.getFeatureById(asset_id);
                if ( asset_marker !== undefined && asset_marker !== null) {
                    // console.log(`Map-container-[${this.environment.id}]. Removing asset_id=${asset_id} `);

                    this.asset_markers.removeFeature(asset_marker);
                } 
         
            },
            createAssetMarker(asset_id){
            
                let asset_marker = new Feature({
                    geometry: new Point([0,0]),
                });
                asset_marker.setId(asset_id);
                if (this.targetAsset != null){
                    let marker_style = asset_id === this.targetAsset.id ? this.buildTargetStyle() : this.buildStandardStyle();
                    asset_marker.setStyle(marker_style);
                } else {
                    asset_marker.setStyle(this.buildStandardStyle());
                }
          
                return asset_marker;

            },
            buildTargetStyle(){
                return new Style({
                    image: new Icon({
                        opacity: 1,
                        anchor: [0.5, 0.5],
                        scale: 2,
                        anchorXUnits: "fraction",
                        anchorYUnits: "fraction",
                        color: '#0000FF',
                        crossOrigin: 'anonymous',
                        // src: 'https://openlayers.org/en/v3.20.1/examples/data/dot.png'
                        src : '/img/assets/dot.png'
                    })
                })
            },
        
            buildStandardStyle(){
                return new Style({
                        image: new Icon({
                            opacity: 1,
                            anchor: [0.5, 0.5],
                            scale: 1,
                            anchorXUnits: "fraction",
                            anchorYUnits: "fraction",
                            color: '#000000',
                            crossOrigin: 'anonymous',
                            src: '/img/assets/dot.png'

                        })
                    })
            },
            buildNeighborStyle(){
                return new Style({
                        image: new Icon({
                            opacity: 1,
                            anchor: [0.5, 0.5],
                            scale: 1,
                            anchorXUnits: "fraction",
                            anchorYUnits: "fraction",
                            color: '#FFFF00',
                            crossOrigin: 'anonymous',
                            src: '/img/assets/dot.png'
                            })
                        });
            },
            buildCollisionStyle(){

                return new Style({
                        image: new Icon({
                            opacity: 1,
                            anchor: [0.5, 0.5],
                            scale: 2,
                            anchorXUnits: "fraction",
                            anchorYUnits: "fraction",
                            color: '#FF0000',
                            crossOrigin: 'anonymous',
                            src: '/img/assets/dot.png'
                        })
                    });
            },
            buildPredictionStyle(deltaSec){
             
                return new Style({
                        image: new Icon({
                            opacity: 0.5,
                            anchor: [0.5, 0.5],
                            scale: 2,
                            anchorXUnits: "fraction",
                            anchorYUnits: "fraction",
                            color: '#808080',
                            crossOrigin: 'anonymous',
                            src: '/img/assets/dot.png'
                        }),
                        text: new Text({
                            font: '12px Calibri,sans-serif',
                            fill: new Fill({ color: '#000' }),
                            stroke: new Stroke({
                                color: '#fff', width: 2
                            }),
                            text: `${deltaSec} sec`
                        })
                    });
            },
            buildAlarmStyle(radius, opacity){
                return new Style({
                    image: new Circle({
                        radius: radius,
                        stroke: new Stroke({
                            color:`rgba(255, 0, 0, ${opacity})`, 
                            witdh: 1
                        })
                    })
                });
            },
            buildBackgroundNeighborStyle(){
                return new Style({
                    fill: new Fill({
                        color: "rgba(255, 229, 67, 0.35)"
                    })
                })
            },
            buildBackgroundCollisionStyle(){
                return new Style({
                    fill: new Fill({
                        color: "rgba(253, 44, 48, 0.35)"
                    })
                });
            },
            buildBackgroundEmptyStyle(){
                return new Style({
                    fill: new Fill({
                        color: "rgba(255, 255, 255, 0)"
                    })
                })
            },
           updateSets(currentSet, model_set, newStyle, resetStyleF){
             
                let to_be_added = new Set(Array.from(currentSet.values()).filter(id => { return !model_set.has(id)}));
                let to_be_removed = new Set(Array.from(model_set.values()).filter(id => { return !currentSet.has(id)}));

               to_be_added.forEach(asset_id => {
                   
                   var asset_marker = this.asset_markers.getFeatureById(asset_id);
                   if (asset_marker != undefined) {  
                    asset_marker.setStyle(newStyle);
                   }
                   model_set.add(asset_id);
               })

               to_be_removed.forEach(asset_id => {
                   var asset_marker = this.asset_markers.getFeatureById(asset_id);
                   if (asset_marker != undefined) {  
                        asset_marker.setStyle(resetStyleF(asset_id));
                   }
                   model_set.delete(asset_id);
               })

              
           },
           resetSets(modelSet, resetStyle) {
               for(const asset of modelSet.values()){
                    var asset_marker = this.asset_markers.getFeatureById(asset);
                    if (asset_marker != undefined) {  
                        asset_marker.setStyle(resetStyle);
                   }
               }
               modelSet.clear();
           },
           updateMount(){
               this.map.updateSize();
           },
            addAlarms(set){
               
                for(const asset_id of set.values()){
                    var asset_marker = this.asset_markers.getFeatureById(asset_id); // get the geometry of the feature that you want to blink
                    if(asset_marker != undefined && asset_marker!= null){
                     
                        const alarm_marker = new Feature({
                            geometry: new Point(asset_marker.getGeometry().getCoordinates()),
                        });
                        alarm_marker.setId(asset_id);
                        alarm_marker.setStyle(new Style({
                            opacity: 0,
                        }))
                        this.alarm_markers.addFeature(alarm_marker); 
                       
                        this.map.render();
                        //  after adding the feature, that trigger a blink effect, remove the feature in order to not have multiple features with the same Id
                        this.alarm_markers.removeFeature(alarm_marker);
                      
                    }  
                }
      
  
            },
            blinkAlarm(feature){  // this method is a callback associated to the event addFeature built on the layer_alarm layer
                const duration = 2000;
                const start = Date.now();
                const flashGeom = feature.getGeometry().clone();
                let that = this;
                const listenerKey = this.envBackgroundLayer.on('postrender', function(event){
                    const frameState = event.frameState;
                    const elapsed = frameState.time - start;
                    if (elapsed >= duration) {
                        unByKey(listenerKey);
                        return;
                    }
                    const vectorContext = getVectorContext(event);
                    const elapsedRatio = elapsed / duration;
                    const radius = easeOut(elapsedRatio) * 25 + 5;
                    const opacity = easeOut(1 - elapsedRatio);
                    const style = that.buildAlarmStyle(radius, opacity);
                    vectorContext.setStyle(style);
                    vectorContext.drawGeometry(flashGeom);
                    that.map.render();
                });
              
            },     
            addBackgroundAlarm(){
                let backgroundFeature = new Feature({
                    geometry: new Polygon([[
                        [this.environment.x_origin, this.environment.y_origin],
                        [this.environment.width, this.environment.y_origin],
                        [this.environment.width, -this.environment.height],
                        [this.environment.x_origin, -this.environment.height],
                        [this.environment.x_origin, this.environment.y_origin]
                    ]]),
                    projection: this.projection
                });
                backgroundFeature.setId('collision');
                backgroundFeature.setStyle(new Style({
                    fill: new Fill({
                        color: "rgba(255, 255, 255, 0.1)"
                    }),
                    stroke: new Stroke({
                        color: "rgba(255, 255, 255, 0.1)"
                    })
                }))
                this.background_alarm_marker.addFeature(backgroundFeature);
                console.log(`[${this.environment.name}]-container. Added background layer`);
            },

            manageBackgroundAlarm(){
                let backgroundFeature = this.background_alarm_marker.getFeatureById('collision');
                if(this.collisionsSet.size > 0){
                    backgroundFeature.setStyle(this.buildBackgroundCollisionStyle());
                } else if (this.collisionsSet.size === 0 && this.neighborSet.size > 0){
                    backgroundFeature.setStyle(this.buildBackgroundNeighborStyle());
                } else if (this.neighborSet.size === 0 && this.neighborSet.size === 0) {
                    backgroundFeature.setStyle(this.buildBackgroundEmptyStyle());
                }
            },
            centerViewOnTarget(){
                this.map.setView(this.buildView());
            },
            getRandomInt(min, max) {
                    min = Math.ceil(min);
                    max = Math.floor(max);
                    return Math.floor(Math.random() * (max - min) + min); //The maximum is exclusive and the minimum is inclusive
            },
            findMaxDistanceAndZoom(neighbors){
                let distances = Array.from(neighbors.values()).map(value => value.distanceMm)
                this.old_max_alarm_distance = this.max_alarm_distance;
                this.max_alarm_distance = Math.max.apply(Math, distances);

    
            
                if (this.max_alarm_distance > 3000){  // TODO: zoom and distance values have to be choosen smartly. For the moment theese values are choosen just because fit the scenario
                    this.new_zoom = 1;      
                
                } else if (this.max_alarm_distance < 1000) {
                    this.new_zoom = 3;
                } else {
                    this.new_zoom = 2;
                }
             
                
               
            },
            buildView(){
              return   new View({
                        projection: this.projection,
                        center: this.targetPosition? [this.targetPosition.x, this.targetPosition.y] : [this.environment.width/2, this.environment.height/2 ],
                        minZoom: 2,
                        maxZoom: 4,
                        zoom: this.new_zoom,
                        // rotation: this.headingRotation,
                    })
            },
            rotateView(heading){
                if(this.targetPosition){
                    console.log(`Heading received ${heading}`);
                    this.headingRotation = this.headingConversion - heading;
                    console.log(`Heading changed ${this.headingRotation}`);
                    // this.map.getView().setRotation(this.headingRotation);
                }
            },
            changePredictionStyle(asset_id, deltaSec){
                let prediction_marker = this.asset_markers.getFeatureById(asset_id);
                prediction_marker.setStyle(this.buildPredictionStyle(deltaSec));
            },
            drawArrowOnTarget(position){
                let arrow_marker = this.asset_markers.getFeatureById('arrow');
                if(arrow_marker === undefined || arrow_marker === null) {
                  
                    arrow_marker = new Feature({
                        geometry: new Point([0,0]),
                    });
                    arrow_marker.setId('arrow');
                    let arrowStyle = new Style({
                        image: new Icon({
                            opacity: 1,
                            anchor: [0.5, 1],
                            scale: 0.1,
                            anchorXUnits: "fraction",
                            anchorYUnits: "fraction",
                            color: '#0000FF',
                            crossOrigin: 'anonymous',
                            // src: new_uri
                            src : '/img/assets/arrowTarget.png',
                        })
                    })
            
                    arrow_marker.setStyle(arrowStyle);
                    this.asset_markers.addFeature(arrow_marker);
                }

                let arrowStyle = new Style({
                        image: new Icon({
                            opacity: 1,
                            anchor: [0.5, 1],
                            scale: 0.1,
                            anchorXUnits: "fraction",
                            anchorYUnits: "fraction",
                            color: '#0000FF',
                            crossOrigin: 'anonymous',
                            // src: new_uri
                            src : '/img/assets/arrowTarget.png',
                            rotation: this.headingRotation,
                        })
                })
                arrow_marker.setStyle(arrowStyle);
                arrow_marker.getGeometry().setCoordinates([position.x, position.y]);




            }   
        },
 
        beforeMount() {           
            this.projection = new Projection({
                            // code: 'xkcd-image',
                            units: 'millimeters',
                            extent: this.environment.getBgImageExtent()
            });

            this.envBackgroundLayer  = new ImageLayer({
                source: new Static({
                    crossOrigin: 'anonymous',
                    url: this.environment.getImageDataBase64() ,
                    imageSize: [ this.environment.plan_width,  this.environment.plan_height],
                    imageExtent:  this.environment.getBgImageExtent(),
                    projection: this.projection
                }),
               zIndex: -5
            })
            this.envBackgroundLayer.setZIndex(-5);

            // this.overviewMapControl = new OverviewMap({
            //     class: 'ol-overviewmap ol-custom-overviewmap',
            //     layers: [this.envBackgroundLayer],
            //     collapsed: false,
            // })     

            this.asset_markers = new VectorSource({});
            this.layer = new VectorLayer({
                    name: 'Assets',
                    source: this.asset_markers,
                    projection: this.projection
            });
                  
            this.alarm_markers = new VectorSource({});
            this.layer_alarm = new VectorLayer({
                name: 'Alarms',
                source: this.alarm_markers,
                projection: this.projection
            });   
    
            this.background_alarm_marker = new VectorSource({});
            this.layer_background_alarm = new VectorLayer({
                name: 'Bcg alarm',
                source: this.background_alarm_marker,
                projection: this.projection
            })

            this.addBackgroundAlarm();


            let that = this;
            this.alarm_markers.on('addfeature', function(event){
                that.blinkAlarm(event.feature);

            })
           
            this.flashlight = new Flashlight({ radius: Number(100) });
            this.flashlight.setActive(false);


             this.positionObs.subscribe({
                 next: (position) => {
                    let asset_id = position.asset_id;
                    if (position.env_id === this.environment.id){
                        this.drawPosition(asset_id, position);
                        if (this.targetAsset != null && this.targetAsset.id === asset_id){
                           
                            this.targetPosition = position; 
                            this.centerViewOnTarget();
                            this.drawArrowOnTarget(position);
                        } 
                  
                    } else {
                        this.cleanPosition(asset_id);
                    }
                 }
             });
     

            this.neighborObs.subscribe({
                next: (neighbors) => {
                    let that = this;
                    let neighbors_s = new Set( neighbors.keys());
                    this.updateSets(neighbors_s, this.neighborSet, this.buildNeighborStyle(), function (asset_id){
                        if (that.targetAsset!= undefined && asset_id === that.targetAsset.id) return that.buildTargetStyle
                        else return that.buildStandardStyle();
                    });
       
                  
                    this.manageBackgroundAlarm();
                    this.addAlarms(this.neighborSet); // this method allows to see the blinking effect on neighbors markers
                    if(neighbors.size > 0){
                        this.findMaxDistanceAndZoom(neighbors); // this allow to resize the circle on canvas accordingly to the neigh/coll positions
                    // } else {
                    // //     console.log('Restoring max_alarm_distance and new_zoom since there are not neighbors');
                    //     this.max_alarm_distance = this.distance; // restore old value of alarm distance that is for now 2000 mm
                    //     this.new_zoom = this.default_map_zoom; // restore old value of zoom that is 3 initially
                    }
                }
            }); 

            this.collisionObs.subscribe({
                next: (collisions) => {
                    let that = this;
                    this.updateSets(collisions, this.collisionsSet, this.buildCollisionStyle(), function(asset_id){
                        if (that.neighborSet.has(asset_id)) return that.buildNeighborStyle();
                        else if (that.targetAsset!= undefined && asset_id === that.targetAsset.id) return that.buildTargetStyle
                        else return that.buildStandardStyle();
                    });
                    
                    this.manageBackgroundAlarm();
                    this.addAlarms(this.collisionsSet); // this method allows to see the blinking effect on collision markers
                }
            });

            this.motionObs.subscribe({
                next: (motion)=> {
                    console.log({motion})
                    this.rotateView(motion.heading);
                }
            });
            // this.motionObsTest.subscribe({
            //      next: (motion)=> {
            //         if (this.targetPosition !== null && motion.asset_id == this.targetAsset.id){
            //             this.rotateView(motion.heading);            
            //         }
                    
            //     }
            // })
            this.predictedPosObs.subscribe({
                next: (predictions) => {
                    if (this.drawPrediction === 'yes'){
                        console.log({predictions});
                        let that = this;

                        predictions.positions.forEach(function(position, deltaSec){
                            let asset_id = predictions.asset_id + '-' + deltaSec ;
                  
                            if (position.env_id === that.environment.id){
                                that.drawPosition(asset_id, position);
                                that.changePredictionStyle(asset_id, deltaSec);
                            } else {
                                that.cleanPosition(asset_id);
                            }
                        });

                    } else {
                        // remove predictions drawed, if exist
                         let that = this;

                        for(const deltaSec of predictions.positions.keys()){
                            let asset_id = predictions.asset_id + '-' + deltaSec ;
                            that.cleanPosition(asset_id);
                        }
       
                    }
                }
            })

          
        },
        mounted() {
            this.map = new MapOl({
                target: this.$refs['map'],
                layers: [this.envBackgroundLayer, this.layer_background_alarm, this.layer_alarm ,this.layer  ],
                view: new View({
                    projection: this.projection,
                    minZoom: 2,
                    maxZoom: 4, 
                    zoom: this.new_zoom,
                    // rotation: this.headingRotation
                }),
                controls: []
                // controls: defaultControls().extend([this.overviewMapControl])

            });

            this.map.addInteraction(this.flashlight);
            this.map.getView().fit(this.environment.getBgImageExtent(), {constrainResolution: false});

            let that = this;
            this.envBackgroundLayer.on('prerender', function(e){
                if (!that.noRotationHeight && !that.noRotationWidth){
                    that.noRotationHeight = e.context.canvas.height;
                    that.noRotationWidth = e.context.canvas.width;
                }

            });
  

            this.envBackgroundLayer.on('postrender', function(e){
                let ctx = e.context;
                var ratio = e.frameState.pixelRatio;
                var w = ctx.canvas.width;
                var h = ctx.canvas.height;
                ctx.save();
                if(w == 0 || h == 0){
                    console.log(`========= Width or height are zero: width ${w}, height ${h} ===========`);
                }


                ctx.scale(ratio,ratio);
                let color = "rgba(0,0,0,0.9)";
              
                if (!that.targetPosition) {
                    console.log(`There is not targetPosition`);
                    ctx.fillStyle = color;
                    ctx.fillRect( 0,0,w,h );
                } else {
                    let initialPosPxl = that.map.getPixelFromCoordinate([0,0]);
                    let finalPosPxl = that.map.getPixelFromCoordinate([that.max_alarm_distance, 0]);
    
                    let diffPxl = 0;

                    let x = initialPosPxl[0] - finalPosPxl[0];
                    let y = initialPosPxl[1] - finalPosPxl[1];

                    diffPxl = Math.sqrt(Math.pow(x, 2) + Math.pow(y,2));

                    let d = Math.max(that.noRotationWidth, that.noRotationHeight);
                
                    let centerX = Math.floor(w/2); 
                    let centerY = Math.floor(h/2);

                    let radius = diffPxl + 25;
                    
                    let radGrd = ctx.createRadialGradient( centerX, centerY, that.noRotationWidth*radius/d, centerX, centerY, that.noRotationHeight*radius/d );
                    let midcolor = "rgba(0,0,0,0.1)";
                    let endcolor = "rgba(0,0,0,0)";
                    radGrd.addColorStop(   0, color);
                    radGrd.addColorStop( 0, midcolor );
                    radGrd.addColorStop(   1, endcolor );
                    ctx.fillStyle = radGrd;

                    ctx.fillRect( centerX -d, centerY - d, 2*d, 2*d );
                }
                ctx.restore();
         
            });
           
        },
        watch: {
            targetAsset (newValue, oldValue) {
                console.log(`Changing target asset from ${oldValue} to ${newValue}`);
               
                this.resetSets(this.neighborSet, this.buildStandardStyle());
                this.resetSets(this.collisionsSet, this.buildStandardStyle());

                if (oldValue != null){
                    let old_asset_marker = this.asset_markers.getFeatureById(oldValue.id);
                    if (old_asset_marker != undefined) {  
                        old_asset_marker.setStyle(this.buildStandardStyle());
                    }
                }
              
                if(newValue != null) {
                    let new_asset_marker = this.asset_markers.getFeatureById(newValue.id);
                    if (new_asset_marker != undefined) {  
                        new_asset_marker.setStyle(this.buildTargetStyle());
                    }
                    
                }
           
            },
            targetEnv(value){
                if (value === this.environment.id){
                    console.log(`Updating size of map with id=${value}`);
                    let that = this;
                    setTimeout(function(){
                        that.map.updateSize();
                        that.map.getView().fit(that.environment.getBgImageExtent(), {constrainResolution: true});
                    }, 100);
                   
                }
             
            },
            new_zoom(newValue, oldValue){
                if (newValue !== oldValue){
                    this.map.setView(this.buildView()); // render the map to apply the new_zoom value to zoom
                }
            }
        }

    }   
    



</script>
