<template>

  <div id='notification-panel' style="max-height: 200px;">
      <div class="card empty justify-content-center " style="height: 200px; border: 0px !important" id='card-notifcation'>
        <div class="card-body justify-content-center">
          <img class="info-motion" v-bind:src="getImgUrl()"/>
          <p class='motion-label'>{{ motionKind }}</p>
        </div>
        <div class="card-body justify-content-center">
          <p>{{ notificationMessage }}</p>
        </div>
        
      </div>
  </div>
</template>
<style>
.card {
  font-size: 28px;
  border-radius: 0.45rem !important;
}
.motion-label {
  display: inline-block;
}
.info-motion {
  max-width: 40px;
  max-height: 40px;
  margin-right: 5px;
  display: inline-block;
}

/* .motion-label {
  font-size:10px !important;
} */

</style>
<script>

export default {
  name: 'Notification',
  inject: ['neighborObs', 'collisionObs', 'motionObs'],
  props: ['targetAsset','distance', 'showVelocity'],
  data(){
    return {
        neighborSet: new Set(),
        collisionsSet: new Set(),
        notificationMessage: "",
        motionKind: "",
        urlImg: "",
        audioEffect: null,
        velocity: null,
    }
  },
  methods: {
    getNotificationMessage(kind){
      if (this.showVelocity === 'yes') return this.velocity;
      switch (kind){
        case "default":
          return "Keep going";
        case "neighbors":
          return "Slow down";
        case "collision":
          return "Stop!";
      }
    },
    defaultCardStyle(){
        this.notificationMessage = this.getNotificationMessage('default');
        var card = document.getElementById('card-notifcation');
        card.classList.remove('bg-warning', 'bg-danger', 'text-dark');
        card.classList.add('bg-success', 'text-white');
      },
    neighborsCardStyle(){
      this.notificationMessage = this.getNotificationMessage('neighbors');
      var card = document.getElementById('card-notifcation');
      card.classList.remove('bg-success', 'bg-danger', 'text-white');
      card.classList.add('bg-warning', 'text-dark')
    },
    collisionsCardStyle(){
      this.notificationMessage =  this.getNotificationMessage('collision');
      var card = document.getElementById('card-notifcation');
      card.classList.remove('bg-success', 'bg-warning', 'text-dark');
      card.classList.add('bg-danger', 'text-white')
    },
    addShadowToCard(){
      var card = document.getElementById('card-notifcation');
      card.classList.add('shadow', 'p-3', 'mb-5', 'rounded');
    },
    updateCard(){
      if(this.collisionsSet.size > 0){
        this.collisionsCardStyle();
        this.audioEffect.play();
        this.addShadowToCard();
      } else if (this.collisionsSet.size === 0 && this.neighborSet.size > 0){
        this.audioEffect.play();
        this.neighborsCardStyle();
        this.addShadowToCard();
      } else if (this.neighborSet.size === 0 && this.neighborSet.size === 0) {
        this.defaultCardStyle();
        this.addShadowToCard();
      }
    },
    formatMotionKindMsgAndImg(kind){
      
      switch (kind){
        case "stationary":
          this.motionKind = "Stationary";
          this.urlImg = "";
          break;
        case "moving-straight":
          this.motionKind = "Straight";
          this.urlImg = "../assets/images/straight-arrow.png";
          break;
        case "turning-left":
          this.motionKind = "Turning left";
          this.urlImg = "../assets/images/turn-left.png";
          break;
        case "turning-right":
          this.motionKind =  "Turning right";
          this.urlImg = "../assets/images/turn-right.png";
          break;
      }
    },
    getImgUrl(){
      let images = require.context('../assets/images/', false, /\.png$/);
      switch (this.motionKind){
        case "Stationary":
          return "";
        case "Straight":
          return images('./'+ 'straight-arrow' + '.png');
        case "Turning left":
          return images('./'+ 'turn-left' + '.png');
        case "Turning right":
          return images('./'+ 'turn-right' + '.png');
      }
    }
  },
  beforeMount(){
        this.audioEffect = new Audio();
        this.audioEffect.src = 'https://actions.google.com/sounds/v1/alarms/beep_short.ogg';

        this.neighborObs.subscribe({
          next: (neighbors) => {
              this.neighborSet = new Set(Array.from(neighbors.values()));
              this.updateCard();
          }
        }); 

        this.collisionObs.subscribe({
            next: (collisions) => {
              this.collisionsSet = new Set(Array.from(collisions.values()))
              this.updateCard();
            }
        });
        
        this.motionObs.subscribe({
          next: (motion) => {
            this.velocity = motion.velocity;
            this.formatMotionKindMsgAndImg(motion.kind);


                // TODO: manage motion information of only the target asset
                
            
          }
        })
  },

  watch: {
    targetAsset (newValue, oldValue) {
          console.log(`[Notification panel] Changing target asset from ${oldValue} to ${newValue}`);

          if (this.neighborSet.size === 0 && this.collisionsSet.size === 0 ){
          
              this.defaultCardStyle();
          }
    }
  }

}
</script>