<template>


    <div class="container-fluid" style="margin-top: 55px; max-height: 80px !important">
        <div class="row">
          <div class="col-lg-3">
            <select class="form-control" v-model="targetAsset" style="margin-bottom: 10px;" >
                <option v-for="asset in assets" :key="asset.id" :value="asset">{{ asset.name }}( {{ asset.id }} )</option>
            </select>
          
            <select class="form-control" v-model="targetEnvironment" style="margin-bottom: 10px;" >
                <option v-for="env in environments" :key="env.id" :value="env">{{ env.name }}( {{env.id}} ) </option>
            </select>
              <button type="button" @click='sendPosition()' class="btn btn-danger">Send position</button>
          </div>
          <div class="col-lg-3">
             <select class="form-control" v-model="targetMultiNeighbors" multiple="multiple" style="margin-bottom: 10px;">
                <option v-for="asset in assets" :key="asset.id" :value="asset">{{ asset.name }}( {{ asset.id }} )</option>
            </select>
            <button type="button" @click='sendNeighbors()' class="btn btn-danger">Send neighbors</button>
          </div>
        <div class="col-lg-3">
             <select class="form-control" v-model="targetMultiCollisions" multiple="multiple" style="margin-bottom: 10px;">
                <option v-for="asset in targetMultiNeighbors" :key="asset.id" :value="asset">{{ asset.name }}( {{ asset.id }} )</option>
            </select>
            <button type="button" @click='sendCollisions()' class="btn btn-danger">Send collisions</button>
        </div>
        <div class="col-lg-3">
            <div style="max-height: 80px !important;">
                <input type="radio" id="raw-position" value="raw" v-model="positionType" style="margin-right: 5px;">
                <label for="raw-position" style="margin-right: 10px;">Use raw positions</label>
                <br>
                <input type="radio" id="smooth-position" value="smooth" v-model="positionType" style="margin-right: 5px;">
                <label for="smooth-position" style="margin-right: 10px;">Use smoothed positions</label>
            </div>
            <div style="max-height: 60px !important;">
                <input type="radio" id="predicted-position" value="yes" v-model="predictedPosition" style="margin-right: 5px;">
                <label for="predicted-position" style="margin-right: 10px;">Draw predicted positioins</label>
                <br>
                <input type="radio" id="predicted-position" value="no" v-model="predictedPosition" style="margin-right: 5px;">
                <label for="predicted-position" style="margin-right: 10px;">Not show predicted positions</label>
            </div>
            <div> 
                <input type="text" v-model="headingTest" id="heading-test" style="margin-right: 10px;">

                <input type="radio" id="show-velocity" value="yes" v-model="showVelocity" style="margin-right: 5px;">
                <label for="show-velocity" style="margin-right: 10px;">Show velocity</label>
                </div>
        </div>
    </div>
  
    </div>
</template>
<style scoped>
.col-lg-*{
    text-align: center;
}
</style>
<script>
import { Motion, Position} from '../models/BaseModel'

export default{
    name: 'TestControl',
    props: ['environments', 'assets'],
    inject: ['positionObs', 'neighborObs', 'collisionObs', 'motionObsTest'],
    data(){
        return {
            targetAsset: null,
            targetEnvironment: null,
            targetMultiNeighbors: [],
            targetMultiCollisions: [],
            positionType: null,
            predictedPosition: null,
            showVelocity: null,
            headingTest: 1,
        }
    },
    methods: {
        sendPosition(){
            let cartesian_y_offset = this.targetEnvironment.height - this.targetEnvironment.y_origin;

            let random_x_env = Math.floor(Math.random() * this.targetEnvironment.width) - this.targetEnvironment.x_origin ;
            let random_y_env = Math.floor(Math.random() * this.targetEnvironment.height) - cartesian_y_offset;
            let position = new Position(this.targetAsset.id, this.targetEnvironment.id, random_x_env, random_y_env, new Date().getTime());      
            this.positionObs.next(position);
        },
        sendNeighbors(){
            let neighborhood = new Set(this.targetMultiNeighbors.map(item => {return item.id}));
            this.neighborObs.next(neighborhood);
   
        },
        sendCollisions(){
            let collisions = new Set(this.targetMultiCollisions.map(item => {return item.id}));
            this.collisionObs.next(collisions);
        },
 
    },
    watch: {
        positionType(){
            this.$emit('registerPositionType', this.positionType);
        },
        predictedPosition(){
            this.$emit('drawPredictedPosition', this.predictedPosition);
        },
        showVelocity(){
            this.$emit('registerShowVelocity', this.showVelocity);
        },
        headingTest(){
            let motion = new Motion(this.targetAsset.id, 'stationary', 0, this.headingTest);
            this.motionObsTest.next(motion)
           
        }
    
    }

}



</script>