<template>
 <footer class="navbar-default fixed-bottom" id='footer-id-app'>
        <div class="container-fluid" >
            <div id="status" style="display: inline-block; float: left;" v-text="this.message"></div>
            <div class="pull-right" id="footer-sign" style="display: inline-block; float: right;">Powered by <a href="http://www.thinkin.io/" >ThinkIN.io</a></div>
        </div>
    </footer>
</template>

<script>
    // import { WSRealtimePositions } from '../services/RealtimePositionsService'

    export default {
        name: 'ThinkinFooter',
        data() {
            return {
                message: null
            }
        },
        created() {
            console.log('IN CREATED OF FOOTER COMPONENT');
        //    WSRealtimePositions.onopen = function() {
        //        console.log('Connected to realtime positions');
        //        this.message = 'Connected to realtime positions';
        //    }
        //    WSRealtimePositions.onclose = function(event){
        //        this.message = 'Connection to realtime positions is stopped';
        //        console.log({event});
        //    }
        }
    }
</script>