<template>
    <nav class="navbar navbar-expand-lg navbar-default fixed-top" id='navbar-id-app'>
        <div class="navbar-brand mb-0 h1">
             <img id="logo" src="../assets/logo.png">
        </div>
        <select class="form-control col-lg-2 col-md-2 n" v-model="targetAsset" @change="registerAsset" >
            <option v-for="asset in assets" :key="asset.id" :value="asset">{{ asset.name }}( {{ asset.id }} )</option>
        </select>

        <select class="form-control col-lg-2 col-md-2" v-model="associatedAsset"  @change="associateAsset" >
            <option v-for="asset in assets" :key="asset.id" :value="asset">{{ asset.name }}( {{ asset.id }} )</option>
        </select>
    </nav>
</template>
<style scoped>
select {
    margin-bottom: 10px;
    margin-right: 10px;
}
</style>
<script>
  


    export default {
        name: 'ThinkinHeader',
        props: ['assets'],
        data() {
            return {
                targetAsset: null,
                associatedAsset: null
            }
        },
        methods: {
            registerAsset(){
                this.$emit('registerAsset', this.targetAsset);
                
            },
            associateAsset(){
                this.$emit('associateAsset', this.associatedAsset);
            }
        }

    }
</script>