<template>
  <div id="app" ref="app" style="text-aling: center;">
    <ThinkinHeader  @registerAsset="registerAsset($event)" @associateAsset="associateAsset($event)"  :assets="assets"/> 
  
    <TestControl :environments="this.environments" :assets="assets" @registerPositionType="registerPositionType($event)" @drawPredictedPosition="drawPredictedPosition($event)" @registerShowVelocity="registerShowVelocity($event)"/>

    <Dashboard 
      :targetAsset="this.targetAsset"  
      :associatedAsset="this.associatedAsset" 
      :environments="this.environments" 
      :assets="assets" 
      :assetTypes="assetTypes"
      :distance="distance"
      :positionType="positionType"
      :drawPrediction="this.drawPrediction"
      :showVelocity="showVelocity"
    />

    <ThinkinFooter/>
  </div>
</template>

<script>
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'

// import { Vue } from 'vue';

import ThinkinHeader from '@/components/ThinkinHeader'
import TestControl from '@/components/TestControl'
import ThinkinFooter from '@/components/ThinkinFooter'
import Dashboard from '@/components/Dashboard'
// import Register from '@/views/Register'

import { getEnvironmentPlanMap, getAssetsMap, getAssetTypeMap} from './services/DeploymentSettingService'
import * as CollisonService from './services/CollisionAvoidanceService'

import * as rxjs from 'rxjs'

export default {
  name: 'App',
  components: {
    ThinkinHeader,
    TestControl,
    ThinkinFooter,
    Dashboard,
    // Register
  },
  data(){
    return {
      environments: {},
      assets: {},
      assetTypes: {},
      targetAsset: null,
      associatedAsset: null,
      positionType: null,
      drawPrediction: null,
      showVelocity: null,
      distance: 3000,
    }
  },
  provide(){
    return {

      positionObs: this.positionObs,
      neighborObs: this.neighborObs,
      collisionObs: this.collisionObs,
      motionObs: this.motionObs,
      motionObsTest: this.motionObsTest,
      predictedPosObs: this.predictedPosObs
    }
  },
  beforeCreate(){
    this.positionObs = new rxjs.Subject(),
    this.neighborObs = new rxjs.Subject(),
    this.collisionObs = new rxjs.Subject(),
    this.motionObs = new rxjs.Subject(),
    this.motionObsTest = new rxjs.Subject(),
    this.predictedPosObs = new rxjs.Subject()
  },
  created() { 
     CollisonService.setupDataSource().subscribe({
       next: (data) => {
         if (this.positionType === 'smooth'){
           this.positionObs.next(data.smoothed);
         } else {
          this.positionObs.next(data.position);
         }


         
         if (this.targetAsset != null && data.asset_id == this.targetAsset.id) {
           if (this.associatedAsset != null) {
             data.neighbors.delete(this.associatedAsset.id);
             data.collisions.delete(this.associatedAsset.id);

           }
           this.neighborObs.next(data.neighbors);
           this.collisionObs.next(data.collisions);
           this.motionObs.next(data.motion);
           this.predictedPosObs.next(data.prediction);
         
         }
       }
     });


      getEnvironmentPlanMap().then(map => {

        this.environments = map;
        console.log(`Loaded environments: ${Object.keys(this.environments).length}`);

      }).catch(error => {
        console.log(`Error fetching environment plans: ${error}`)
      })

      getAssetsMap().then(assetMap => {
        this.assets = assetMap;
        console.log(`Loaded assets: ${Object.keys(this.assets).length}`);
    
      }).catch(error => {
        console.log(`Error fetching assets: ${error}`);
      })

      getAssetTypeMap().then(assetTypeMap => {
        this.assetTypes = assetTypeMap;
        console.log(`Loaded asset types: ${Object.keys(this.assetTypes).length}`);

      }).catch(error => {
        console.log(`Error fetching asset types: ${error}`);
      })

 
  },

  methods: {
    registerAsset(asset){
      this.targetAsset = asset;
    },
    associateAsset(asset){
      this.associatedAsset = asset;
    },
    registerPositionType(type){
      this.positionType = type;
    },
    drawPredictedPosition(flag){
      this.drawPrediction = flag;
    },
    registerShowVelocity(flag){
      this.showVelocity = flag;
    }
  }

  
}
</script>

<style>
  /* @import './assets/styles/global.css'; */

  @import './assets/styles/thinkin/main.css';

</style>